ENV=development
EMAIL_USERNAME=imamdwicaksono@gmail.com
EMAIL_PASSWORD=""
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

JWT_SECRET==
JWT_EXPIRATION=24h

TRACKER_SECRET=

CORS_ALLOW_ORIGINS="http://localhost:3000,http://172.24.10.87:3000,http://172.24.4.25:3000"

SUBNET_WHITELIST="172.24.4.,172.24.10."

COOKIE_DOMAIN_NAME=localhost
COOKIE_SECURE=false
COOKIE_SAMESITE=Lax
COOKIE_PATH=/
COOKIE_MAX_AGE=86400
COOKIE_HTTP_ONLY=true

APP_PORT=8080

S3_STORAGE=false
# STORJ_S3_ENDPOINT="https://gateway.storjshare.io"
# STORJ_S3_BUCKET="docutract-s3"
# STORJ_ACCESS_KEY=""
# STORJ_SECRET_KEY=""

STORJ_S3_ENDPOINT="http://192.168.1.4:9002"
STORJ_S3_BUCKET="docutrack-s3"
STORJ_ACCESS_KEY="minioadmin"
STORJ_SECRET_KEY="minioadmin"


# AUDIT_CONTRACT_ADDRESS=

RPC_URL=http://127.0.0.1:8545
AUDIT_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
CHAIN_ID=31337
PRIVATE_KEY=

ECDH_PRIVATE_KEY=
ECDH_PUBLIC_KEY=

AZURE_TENANT_ID=00a9ce18-9518-45ca-a05d-7f0d0d9c59fe
AZURE_CLIENT_ID=eeb93114-bb23-4ac8-99e8-66a0ff07f567
AZURE_CLIENT_SECRET=

EMAIL_FROM=no-reply-dev@mmsgroup.co.id